@font-face {
    font-family: Qsand;
    src: url(../HTML/Fuentes/Quicksand-VariableFont_wght.ttf);
    }
@font-face {
    font-family: QsandBold;
    src: url(../HTML/Fuentes/static/Quicksand-Bold.ttf);
    }
@font-face {
    font-family: QsandSemiBold;
    src: url(../HTML/Fuentes/static/Quicksand-SemiBold.ttf);
    }
@font-face {
    font-family: QsandLight;
    src: url(../HTML/Fuentes/static/Quicksand-Light.ttf)
}