.preFooter{
    animation: 0.5s ease-in opacityIn;
    font-family: QsandSemiBold;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    position:relative;
    padding: 50px 0 10px 0;
    .card{
        display: flex;
        flex-direction: row;
        color: #515151;
        align-items:center;
        justify-content: center;
        background-color: whitesmoke;
        border: none;
        img{
            width: 100%;
            max-width: 50px;
        }
        span{
            display: block;
            margin: 10px 20px;
            margin-left: 8px;
            color: #515151;
        }
    }
}


