// mediaQuery navbar + perrosGatosServicios
@media screen and (min-width: 768px) {
    #navegacion{
        font-size: 2vw;
        background-color:#1E5594;
        color:#9DC9E0;
        .navbar-nav{
            width: 80%;
        }
        .nav-link{
            color: #9DC9E0;
            font-family: Qsand;
        }
        .nav-link:hover{
            color: #c6e9fc;
        }
        .navbar-collapse{
            .bannerMenu{
                display: none;
            }
            background-color: #1E5594;
        }
        .dropdown-menu{
            border-radius: 8px;
            background-color: #1E5594;
            font-family: Qsand;
            .dropdown-item{
                font-size: 1.2rem;}
            hr{
                margin: 6px 0;
            }
            a{
                color: #9DC9E0;
                text-align: left;
                position: relative;
                width: 160px;
                padding-left: 10px;
                border-radius: 5px;
                margin: 5px;
                transition: all 0.5s ease-in-out;
                transform-origin:bottom left;
            }
            a:hover{
                color: #c6e9fc;
                background-color: transparent;
            }
            li:hover a{
                font-size: 0.9rem;
                color: #c6e9fc;
                padding: 15px 4px 4px 10px;
                font-weight: bold;
                transform: scale(1.4) translateX(7%);
            }
            .sub1:hover a{
                transform: scale(1.4) translateX(3%);
            }
            .sub2:hover a{
                transform: scale(1.4) translateX(14%);
            }
            .sub3:hover a{
                transform: scale(1.4) translateX(1%);
            }
            .iServ:hover a{
                transform: scale(1.4) translateX(-1%);
            }
        }
    }
    form{
        .buscador{
            width: 147px;
        }
    }

    // PERROS GATOS Y SERVICIOS
    .perrosGatosServicios{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        .pic, .picMenosTranslateX{
            width: 33%;
            p{
                font-size: 1.7vw;
            }
        }
    }
}
    @media screen and (max-width:462px) {
        .perrosGatosServicios{
            padding-left: 10%;
            align-items: flex-start;
        }
    }
    // /PERROS GATOS Y SERVICIOS
@media screen and (max-width: 767px){
    .perrosGatosServicios{
        .pic, .picMenosTranslateX{
            width: 55%;
            img{
                width: 100%;
            }
        }
    }
    #navegacion{
        .navbar-nav{
            .inicioDelay{
                animation: 1.25s fadeInMenu;
            }
            .perrosDelay{
                animation: 1.5s fadeInMenu;
            }
            .gatosDelay{
                animation: 1.8s fadeInMenu;
            }
            .serviciosDelay{
                animation: 2.1s fadeInMenu;
            }
            .contactoDelay{
                animation: 2.3s fadeInMenu;
            }
        }
        .navbar-collapse{
            .navbar-nav li{
                text-align: center;
            }
            .dropdown-menu a{
                text-align: center;
            }
            form{
                justify-content: center;
                button{
                    padding-inline: 4%;
                }
            }
        }
    }
    
}
// /mediaQuery navbar + perrosGatosServicios

// mediaQuery footer, prefooter y formContacto
@media screen and (min-width: 768px) {
    .gradiente{
        background: linear-gradient(whitesmoke 30%,#9DC9E0) ;
    }
    // FOOTER
    .preFooter{
        font-family: QsandSemiBold;
        font-size: 1.5rem;
        text-align: center;
        display: flex;
        max-width: 100%;
        flex-direction: row;
        justify-content: space-around;
        position:relative;
        padding-top: 70px;
        flex-wrap: wrap;
        align-items: center;
        span{
            display: block;
            margin: 0 10px 20px 20px;
            color: #515151;
            }
    }
    .card{
        max-width: 33%;
        color: #515151;
        img{
            width: 100%;
            max-width: 60px;
        }
    }
    // /PREFOOTER

    // FOOTER
    footer{
        width: 100%;
        grid-template-areas: "futer1 futer2 futer3";
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        padding-top: 20px;
        h2{
            font-size: 2rem;
        }
        .futer1{
            grid-area: futer1;
            max-width: 100%;
            .contenidoF1{
                .btnFuter1{
                    font-size: calc(1rem + .6vw);
                }
            }
        }
        .futer2{
            grid-area: futer2;
            .mediosDePago{
                margin-right: 5%;
            }
            .medios{
                margin-right: 5%;
            }
            .mediosPago{
                width: 80%;
                padding: 0;
                li{
                    width: 12.2%;
                    margin: 1%;
                    img{
                        margin: 0;
                        width: 100%;
                    }
                }
            }
        }
        .futer3{
            grid-area: futer3;
            .contenidoF3{
                .line{
                    h3{
                        font-size: calc(1rem + .6vw);
                    }
                }
            }
        }
        .foot{
            padding: 10px 0 10px 0;
            margin-top: 15px;
        }
    }
    // /FOOTER

    // FORM
    .formDiv{
        margin-top: 2%;
        margin-inline: auto;
        font-size: 1.8rem;
        background: whitesmoke;
        position: relative;
        border-radius: 15px;
        //border: dotted;
        color: #515151;
        width: 70%;
        display: flex;
        flex-direction: column;
        .formInputs{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            width: 100%;
            align-items: center;
            padding-top: 1rem;
            margin-left: 4%;
            .row{
                flex-direction: row;
                width: 92%;
                height: 120px;
                justify-content: start;
                .col{
                    padding-inline: 0.5rem;
                    height: 100%;
                    width: 100%;
                    flex-direction: column;
                    input, select{
                        width: 100%;
                    }
                }
            }
            label, input, select{
                border-radius: 10px;
                border: none;
                border-bottom: 2px solid #2883C7;
                }
            label{
                margin: 0.5rem;
                flex-wrap: nowrap;
                min-width: 50%;
            }
            input, select{
                outline: none;
                width: 65%;
                padding: 0.5rem;
                margin: 1rem;
            }
        }
        .formRight{
            width: 100%;
            min-width: 60%;
            margin: 0 auto;
            .formText{
                label{
                    width: 90%;
                    font-size: 1.8rem;
                    padding: 0.3;
                    margin: 1.7rem 5%;
                    background-color:#c6e9fc ;
                    border-radius: 10px;
                    opacity: 0.7;
                }
                input{
                    padding: 10px;
                    font-size: 1.8rem;
                }
                textarea{
                    font-size: 1.8rem;
                    width: 90%;
                    height: 190px;
                    background: whitesmoke;
                    border-radius: 0 15px 15px 15px;
                    border: solid #2883C7;
                    margin: auto;
                    padding: 0.5rem;
                    outline: none;
                }
            }
            .formRightBottom{
                font-size: 1.8rem;
                display: flex;
                align-items: center;
                max-width: 90%;
                flex-direction: row;
                justify-content: space-between; 
                margin: 1rem auto;
                .pregunta{
                    width: 70%;
                    label{
                        font-size: 2vw;
                        padding: 1% 2%;
                    }
                }
                .botonesFormulario{
                    font-family: QsandBold;
                    button{
                        font-size: 1.2rem;
                        border-radius: 5px;
                        padding: 10px 3vw;
                        max-width: 100%;
                        outline: none;
                        border: none;
                        background-color: #1E5594;
                        color:#baddf0;
                        width: 100%;
                        margin-bottom: 0;
                    }
                    button:hover{
                        background-color: #2883C7;
                        color: #c6e9fc;
                        transition-duration: 0.7s;
                        padding-inline: 3.5vw;
                    }
                }
            }
        }
    }
}
// /mediaQuery footer, prefooter y formContacto