/* SERVICIOS */
.servDiv{
    @include indices;
    animation: 0.5s ease-in opacityIn;
    .sPic{
        position: relative;
        margin-top: 40px;
        padding-inline: 2%;
        transition: all 2s;
        width: 33%;
        p{
            transition: all 2s;
            font-size: 2.5vw;
            color: #1E5594;
        }
        img{
            width: 100%;
            border-radius: 10px;
            min-width: 230px;
        }
    }
    .sPic:hover{
        -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.1) 40%, #000 50%, rgba(0,0,0,.9) 70%); /*define la transparencia*/
        -webkit-mask-size: 200%;
        animation: brillo 1s ease-in-out ; 
        mask-image: linear-gradient(-75deg, rgba(0,0,0,.1) 40%, #000 50%, rgba(0,0,0,.9) 70%); /*define la transparencia*/
        mask-size: 200%;
        transform: scale(1.2);
    }
    .sPic:hover p{
        transform: translateX(13%);
        color: #2883C7;
    }
}

@media screen and(min-width:890px) {
    .servDiv{
        margin-top: 20px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        .sPic{
            p{
                font-size: 2rem;
            }
        }
        
    }
}

/* el keyframe de brillo está en la seccion Perros */

/* Atencion veterinaria */
.imgBanner{
    display: block;
    margin-left: 56px;
    margin-right: auto;
    margin-top: 50px;
}
/* tabla */
.tablaVeterinaria{
    color: rgb(209, 173, 147);
    background-color: darkcyan;
    width: 320px;
    height: 100px;
    position: relative;
    left: 32px;
    top: 25px;
    text-align: center;
    padding: 10px;
    margin: 25px;
    font-weight: lighter;
    thead{
        color: rgb(22, 180, 167);
        font-weight: bolder ;
        letter-spacing: 1px;
    }
}
/* /tabla */
/* /Atencion veterinaria */
/* /SERVICIOS */