/* Atencion veterinaria */
.imgBanner{
    display: block;
    margin-left: 56px;
    margin-right: auto;
    margin-top: 50px;
}
/* tabla */
.tablaVeterinaria{
    color: rgb(209, 173, 147);
    background-color: darkcyan;
    width: 320px;
    height: 100px;
    position: relative;
    left: 32px;
    top: 25px;
    text-align: center;
    padding: 10px;
    margin: 25px;
    font-weight: lighter;
    thead{
        color: rgb(22, 180, 167);
        font-weight: bolder ;
        letter-spacing: 1px;
    }
}
/* /tabla */
/* /Atencion veterinaria */
/* /SERVICIOS */