*{ 
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Qsand;
    src: url(../HTML/Fuentes/Quicksand-VariableFont_wght.ttf);
    }
@font-face {
    font-family: QsandBold;
    src: url(../HTML/Fuentes/static/Quicksand-Bold.ttf);
    }
@font-face {
    font-family: QsandSemiBold;
    src: url(../HTML/Fuentes/static/Quicksand-SemiBold.ttf);
    }
@font-face {
    font-family: QsandLight;
    src: url(../HTML/Fuentes/static/Quicksand-Light.ttf)
}
html{
    font-size: 67.5%;
}
body{
    font-family: Qsand, Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}
.container{
    max-width: 85%;
    margin: 0 auto;
}

section{
    color: rgb(201, 34, 34);}

// ANIMACIONES

// Animacion lista navbar
@keyframes fadeInMenu{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
// Animacion lista navbar

// Animacion carousel
@keyframes opacityIn{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}
// /Animacion carousel

// Animacion login
@keyframes fadeIn{
    0%{
        transform: scale(0);
    }
    90%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
// /Animacion login

// Animacion logo
@keyframes slideInFromUp {
    0% {
    transform: translateY(-100%);
    }
    80%{
    transform: translateY(15%);
    }
    100% {
    transform: translateY(0);
    }
}
// /Animacion logo

// /ANIMACIONES

@import 'header';
@import 'menu';
@import 'prefooter';
@import 'footer';
@import 'mixins';
@import 'perros';
@import 'gatos';
@import 'servicios';
@import 'contactos';
@import 'colores';
@import 'error';

.carousel{
    z-index: 1000;
    animation: 0.5s ease-in opacityIn;
    .carousel-inner{
        .carousel-item{
            img{
                border-radius: 15px;
            }
        }
    }
}
#carouselExampleIndicators .carousel-indicators{
    bottom: -42px;
}
.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.modal-body{
    p{
        font-size: 1.2rem;
            span{
            font-weight: bold;
            font-size: 1.6rem;
            padding: 10% 0;
            color: #2883C7;
        }   
    } 
}
.gradiente {
    background: linear-gradient(whitesmoke 0.5% , #9DC9E0) ;
}
.banner{
    width: 100%;
    position: relative;
    display: inline-block;  
    z-index: 905;
    animation: 0.5s ease-in opacityIn;
    img{
        width: 100%;
        border-radius: 0 0 30px 30px;
    }
}

section h1 h2 h3{
    color:rgb(0, 166, 255)}
/* Tuve que ponerlo asi, "repetido" para especificar el h3, si no, no se por que no me abarcaba al h3 el color   */

/*mediaQuery footer y prefooter */
@media screen and (min-width: 992px) {
    .carousel{
        z-index: 998;
        .carousel-inner{
            .carousel-item{
                img{
                    border-radius: 0 0 15px 15px;
                }
            }
        }
    }
    .gradiente{
        background: linear-gradient(whitesmoke 30%,#9DC9E0) ;
    }
    .preFooter{
        font-family: QsandSemiBold;
        font-size: 1.5rem;
        text-align: center;
        display: flex;
        max-width: 100%;
        flex-direction: row;
        justify-content: space-around;
        position:relative;
        padding-top: 70px;
        flex-wrap: wrap;
        align-items: center;
        span{
            display: block;
            margin: 0 10px 20px 20px;
            color: #515151;
            }
    }
    .card{
        max-width: 33%;
        color: #515151;
        img{
            width: 100%;
            max-width: 60px;
        }
    }
    footer{
        width: 100%;
        grid-template-areas: "futer1 futer2 futer3";
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        padding-top: 20px;
        h2{
            font-size: 2rem;
        }
        .futer1{
            grid-area: futer1;
            max-width: 100%;
        }
        .futer2{
            grid-area: futer2;
            .mediosPago{
                width: 80%;
                padding: 0;
                li{
                    width: 12.2%;
                    margin: 1%;
                    img{
                        margin: 0;
                        width: 100%;
                    }
                }
            }
        }
        .futer3{
            grid-area: futer3;
        }
        .foot{
            padding: 10px 0 10px 0;
            margin-top: 15px;
        }
    }
    // Formulario de contacto
    .formGrid .formRight .formRightBottom{
        flex-direction: row;
    }
}
/* / mediaQuery footer y prefooter*/