@import 'fuentes';
@import 'header';
@import 'menu';
@import 'prefooter';
@import 'footer';
@import 'perrosGatosServicios';
@import 'contactos';
@import 'colores';
@import 'error';
@import 'querys';
@import 'animaciones';

html{
    font-size: 67.5%;
}
body{
    font-family: Qsand, Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    animation: 0.5s ease-in opacityIn;
}
.container{
    max-width: 85%;
    margin: 0 auto;
}
section{
    color: rgb(201, 34, 34);
}

.carousel{
    z-index: 1000;
    .carousel-inner{
        .carousel-item{
            img{
                border-radius: 15px;
            }
        }
    }
}
#carouselExampleIndicators .carousel-indicators{
    bottom: -42px;
}
.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
@media screen and (min-width: 768px) {
    .carousel{
        .carousel-inner{
            .carousel-item{
                img{
                    border-radius: 0 0 15px 15px;
                }
            }
        }
    }
}
// MODAL
.modal-body{
    .titulo{
        p{
        font-size: 1.6rem;
        color: #2883C7;
        font-weight: bold;
        padding: 1% 0 1% 0;
        margin-bottom: 0;
        }
    }
    .info{
        p{
        font-size: 1.2rem;
        margin-bottom: 0;
        }
    }
}
.gradiente {
    background: linear-gradient(whitesmoke 0.5% , #9DC9E0) ;
}
.banner{
    width: 100%;
    position: relative;
    display: inline-block;  
    z-index: 905;
    img{
        width: 100%;
        border-radius: 12px 12px 30px 30px;
    }
}
@media screen and(min-width:768px) {
    .banner{
        img{
            border-radius: 0 0 30px 30px;
        }
    }
}

section h1 h2 h3{
    color:rgb(0, 166, 255)}
/* Tuve que ponerlo asi, "repetido" para especificar el h3, si no, no se por que no me abarcaba al h3 el color   */

.enConstruccion{
    width: 100%;
    padding-top: 5%;
    img{
        max-width: 40%;
        display: block;
        margin: auto;
    }
}

